@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

* {
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
}

*:focus {
	outline: none;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Muli', sans-serif;
}

/**FORM STYLING**/

input {
	/*font-size: 16pt;
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #ced4da;*/
}

input[type='text'], input[type='number'] {
	display: block;
}

input[type='radio'], input[type='checkbox'] {
	margin-bottom: 5px;
}

input[type='text']:focus, input[type='number']:focus { 
	border-color: #91c6ff;
	box-shadow: 0 0 0.2rem 0.1rem rgba(0, 123, 255, .25);
}

.form-row {
	margin: 0 auto;
	max-width: 550px;
}

#correctside1, #correctside2 {
	display: none;
}

/*button {
	border: none;
	padding: 8px 13px;
	border-radius: 2px;
	background-color: #49d4ff;
	font-size: 12pt;
	float: right;
	margin: 10px;
}

button:hover {
	cursor: pointer;
}*/

/*.formgroup {
	margin-bottom: 20px;
}

.formgroup label {
	display: inline-block;
	margin-bottom: 10px
}*/
/*
.selectgroup {
	margin-bottom: 10px;
}*/

#header {
	background-color: #49d4ff;
	height: 120px;
}

#heading h1 {
	margin: 0;
	float: left;
	margin-top: 30px;
}

#menu {
	text-transform: uppercase;
	letter-spacing: 2px;
	float: right;
	margin-top: 42px;
	font-size: 14pt;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}

#main {
	margin-top: 50px;
}

#main h1 {
	text-align: center;
}

#main .page {
	display: none;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 20%;
	float: left;
	position: relative;
	/*left: -2.3em;*/
	text-align: center;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #eee;
	border-radius: 3px;
	margin: 0 auto 5px auto;
	text-align: center;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #eee;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

#main #prematch {
	display: block;
}

#main .review {
	display: none;
}

#footer {
	margin-top: 50px;
	margin-bottom: 50px
}