@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Muli', sans-serif;
	overflow-wrap: break-word;
	color: #080808;
}

a {
	color: #9d9d9d;
}

a:hover {
	color: #D1D1D1;
}

/**FORM STYLING**/

/* OVERFLOW FOR TIMER */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.scroll{
	margin: auto;
	/*background-color: grey;*/
    width: 50pt;
    height: 100pt;
	overflow: scroll;
}

/*input {
	font-size: 16pt;
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #ced4da;
}*/

input[type='text'], input[type='number'] {
	/*display: block;*/
}

input[type='radio'], input[type='checkbox'] {
	margin-bottom: 5px;
}

input[type='text']:focus, input[type='number']:focus, textarea:focus { 
	border-color: #91c6ff;
	box-shadow: 0 0 0.2rem 0.1rem rgba(0, 123, 255, .25);
}

.form-row {
	margin: 0 auto;
	max-width: 550px;
}

#robotstatus {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#robotstatus label {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px
}

#correctside1, #correctside2, #c1, #c2, #numofbuddies {
	display: none;
}

#failedtimes, #failedtimes2 {
	color: red;
}

.numbergroup {
	display: flex;
}

.numbergroup input {
	border-radius: 0px;
	width: 30px;
	flex: 1 1 auto;
}

.decrement {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: 0;
	margin: 0px;
	z-index: 2;
	/*width: 5px;*/
	flex: 1 1 auto;
	font-size: 16pt;
	height: 38px;
	padding: 0;
}

.increment {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0;
	margin: 0px;
	z-index: 2;
	/*width: 5px;*/
	flex: 1 1 auto;
	font-size: 16pt;
	height: 38px;
	padding: 0;
}

.stopwatches h4 {
	margin: 0;
	font-size: 2.3rem;
	text-align: center;
}

.button-primary {
	background-color: #ffcc00 !important;
	border: 0;
	height: auto;
	line-height: initial;
	font-size: 10pt;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	color: white;
}

.button-primary:hover {
	background-color: #3b3b3b !important;
}

button {
	padding: 12px 20px;
	background-color: #9d9d9d !important;
	height: auto;
	line-height: initial;
	font-size: 10pt;
	color: white;
	border: 0;
/*	margin-top: 10px;
	margin-left: 10px;*/
}

button:hover {
	cursor: pointer;
}

#stopwatchcontainer {
	text-align: center;
	font-size: 30pt;
}

.centercontent {
	text-align: center;
}

textarea {
	resize: none;
}

/*.formgroup {
	margin-bottom: 20px;
}

.formgroup label {
	display: inline-block;
	margin-bottom: 10px
}*/
/*
.selectgroup {
	margin-bottom: 10px;
}*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#header {
	background-color: #3b3b3b;
	height: 100px;
	color: white;
}

#heading h1 {
	margin: 0;
	float: left;
	margin-top: 30px;
	font-size: 3.5rem;
}

#menu {
	text-transform: lowercase;
	letter-spacing: 1.5px;
	float: right;
	margin-top: 40px;
	font-size: 12pt;
	overflow: hidden;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	color: white;
}

#menu .active, #menu a:hover {
	color: #ffcc00;
	text-decoration: underline;
}

#menu .icon {
    display: none;
    text-decoration: none;
}

#menu .icon:hover {
	text-decoration: none;
}

#main {
	padding-top: 30px;
}

#main h1 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 12px;
}

#main h2 {
	font-size: 2.8rem;
}

#main .h2 {
	border-bottom: 1px solid #9d9d9d;
	padding-bottom: 10px;
	margin-bottom: 25px;
}

.h2 h2 {
	margin: 0;
	display: inline;
}

#main h3 {
	font-size: 2.5rem;
}

#main .page {
	display: none;
}

/*progressbar*/
#progressbar {
	margin-bottom: 10px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 20%;
	float: left;
	position: relative;
	/*left: -2.3em;*/
	text-align: center;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: #9d9d9d;
	border-radius: 50%;
	margin: 0 auto 5px auto;
	text-align: center;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #9d9d9d;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #ffcc00;
}

#main #prematch {
	display: block;
}

#main .review {
	display: none;
}

#footer .container {
	border-top: 1px solid #9d9d9d;
	/*margin-top: 10px;*/
	padding-top: 20px;
	margin-bottom: 50px
}

@media screen and (max-width: 900px) {

	#header {
		height: 80px;
	}

	#heading h1 {
		font-size: 2.2rem;
	}

	#menu {
		margin-top: 32px;
		font-size: 9.5pt;
	}

	#menu a {
		margin-left: 2px;
	}
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {

	.hr {
		display: none;
	}

	#stopwatchcontainer {
		font-size: 18pt;
	}

	#header {
		height: 60px;
	}

	#heading h1 {
		font-size: 1.8rem;
		margin-top: 20px;
	}

	#menu ul {display: none;}

	#menu a.icon {
		float: right;
		display: block;
	}

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {

	#menu .responsive {
		margin: 0;
		display: block; 
		position: absolute;
		left: 0;
		top: 0px;
		z-index: 2;
		width: 100%;
	}
	#menu a.icon {
		position: absolute;
		right: 0px;
		top: 5px;
		z-index: 3;
		padding: 15px;
	}
	#menu .responsive {
		float: none;
		text-align: left;
	}
	#menu .responsive li {
		display: block;
		margin: 0;
	}
	#menu .responsive a {
		margin: 0;
		padding: 20px 15px;
		background-color: black;
		color: white;
		overflow: hidden;
		/*width: 100%;*/
	}

}