@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Muli', sans-serif;
}

/**FORM STYLING**/

.container {
	max-width: 1100px;
	margin: 0 auto;
}

#header {
	background-color: #49d4ff;
	height: 100px;
}

#heading h1 {
	margin: 0;
	float: left;
	margin-top: 30px;
}

#menu {
	text-transform: uppercase;
	letter-spacing: 2px;
	float: right;
	margin-top: 42px;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}

#main {
	margin-top: 50px;
}

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
	text-align: center;
}

#main .page {
	display: none;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 20%;
	float: left;
	position: relative;
	left: -2.3em;
	text-align: center;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #eee;
	border-radius: 3px;
	margin: 0 auto 5px auto;
	text-align: center;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #eee;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

#main #prematch {
	display: block;
}

#main .review {
	display: none;
}

#footer {
	margin-top: 50px;
	margin-bottom: 50px
}