@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Muli', sans-serif;
}

/**FORM STYLING**/

.container {
	max-width: 1100px;
	margin: 0 auto;
}

#header {
	background-color: #49d4ff;
	height: 100px;
}

#heading h1 {
	margin: 0;
	float: left;
	margin-top: 30px;
}

#menu {
	text-transform: uppercase;
	letter-spacing: 2px;
	float: right;
	margin-top: 42px;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}

#main {
	margin-top: 50px;
}

#footer {
	margin-top: 50px;
	margin-bottom: 50px
}